#tblCityList_paginate a.ui-state-default {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    padding: 5px 8px;
}

#tblCityList_paginate a.fg-button, #tblCityList_paginate span a.ui-state-disabled {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    color: #333 !important;
}

#tblCityList_paginate a.ui-state-disabled {
    background: none repeat scroll 0 0 #ccc;
    border-radius: 5px;
    padding: 5px 8px;
}

.width200{width:200px !important ; }
.width180{width: 180px !important;}
.wordwrapClass{max-width:10em;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.wordwrapProduct{width:200px !important;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.wordwrapAdminProduct{width:160px !important;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.tblSupplierList th {text-transform:capitalize;}
span.error{display: inline;margin: 5px 0;color: #B94A48;font-weight: 400;}
/*.checkbox {width:auto !important;}*/

.fileupload .thumbnail > img {
  display: inline-block;
  height: 150px;
  max-height: 100%;
  vertical-align: middle;
  width: 200px;
}
.permission_css { white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.supplierAddForm-buttons{text-align:center;}
.button-next{display: inline-block;width: 100px;float: none;}
.button-back {
    /* display: inline-block; */
    margin: 10px;
    width: 100px;
    float: none;
}
 .finish {
    display: inline-block;
    width: 100px;
    float: none;
 }
 .note_css{color:black;font-weight:400;white-space:nowrap;}
 .checkbox.form-control.chkClass{height:20px;}
.hideClass{display:none;}
.showClass{display:block;}
.msgAlert{font-weight:600;}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .wordwrapClass{max-width:5em;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
}
.fileupload .btn-file {
     overflow: hidden !important; 
}

th.action_th_new {
    width: 135px !important;
    min-width: 135px !important;
}

.wrapperclassImage{font-size:12px;display:block !important;white-space:nowrap;}

#general_settings_default .error { display: inline-block !important; }